<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groovy</title>
    <link id="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <br>
    <h1>Welcome to Groovy, a database for all your organizational music needs. 😎</h1>
    <br>
    <h2>Feel free to visit all our pages at the links below.</h2>
    <br>
    <h3>To access current songs:<br><button><a href="songs.hbs">Songs</a></button></h3>
    <br>
    <h3>To access current albums:<br><button><a href="albums.hbs">Albums</a></button></h3>
    <br>
    <h3>To access current artists:<br><button><a href="artists.hbs">Artists</a></button></h3>
    <br>
    <h3>To access current discographies:<br><button><a href="discographies.hbs">Discographies</a></button></h3>
    <br>
    <h3>To access current genres:<br><button><a href="genres.hbs">Genres</a></button></h3>
</body>
</html>
