<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groovy</title>
    <link id="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Home</h1>
    <p>
        Welcome to Groovy, we know that being a music fan can be challenging when there are so many new artists and songs to keep up with. 
        If your music tastes encompass a wide variety of eras, genres, and energy levels, it becomes crucial to 
        create a system that allows for quick and easy lookup of desired songs. Our database aims to assist 
        in organizing and connecting users to music based on song title, album, artists, and genre in a 
        user-friendly manner. With over 40 main genres of music, over 300 subgenres, and millions of songs 
        and artists to choose from, our database provides an accessible solution for music enthusiasts to 
        explore and enjoy their favorite tracks in an organized manner.
    </p>
    <p>
        There are 4 main tables that have been developed: songs, albums, artists, and genres, as well as 
        an intersection table: discographies, where all of an artist's albums will be listed. Without further
        ado, let's get groovin' 😎.
    </p>

</body>
</html>